ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page68570523.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^index$ page68570523.html [NC]
RewriteRule ^index/$ page68570523.html [NC]

RewriteRule ^71369679$ page71332657.html [NC]
RewriteRule ^71369679/$ page71332657.html [NC]

RewriteRule ^zabor$ page80235926.html [NC]
RewriteRule ^zabor/$ page80235926.html [NC]

RewriteRule ^remont$ page148101286.html [NC]
RewriteRule ^remont/$ page148101286.html [NC]


